<div style="margin-top: 80px;">
      <!-- with product -->
      <div class="row">
         <div class="col-8">
            <!-- table -->
            <table class="table m-4 shadow">
               <thead>
                 <tr>
                   <th scope="col">#</th>
                   <th scope="col">Id</th>
                   <th scope="col">Item</th>
                   <th scope="col">Image</th>
                   <th scope="col">Quantity</th>
                   <th scope="col">Price</th>
                   <th scope="col">Action</th>
                 </tr>
               </thead>
               <tbody class="table-group-divider table-divider-color">
                 <tr *ngFor="let product of products ; let i=index" >
                   <td scope="row">{{i+1}}</td>
                   <td >{{product.id}}</td>
                   <td>{{product.title}}</td>
                   <td>
                     <img [src]=product.image width="100px" alt="">
                   </td>

                   <td class="d-flex">
                    <button class="btn">-</button>
                    <input type="text" [value]="product.quantity"
                    readonly class="form-control w-25">
                    <button class="btn">+</button>
                   </td>

                   <td>{{product.price}}</td>
                   <td class="text-center">
                     <i class="fa-solid fa-trash text-danger"></i>
                   </td>
                 </tr>
                 
               </tbody>
             </table>
         </div>
         <div class="col-4">
            <!-- bill -->
            <div class="card text-center p-4 m-5 shadow">
                  <h3>Cart Summary</h3>
                  <h1>Total : 56$</h1>
                  <button class="btn btn-success m-3">Check Out</button>
            </div>
         </div>
      </div>
       <!-- with out product -->
       <div class="text-center m-5 p-5">
       
         <img src="https://supershopping.lk/images/home/Cart-empty.gif" alt="">
         <h3 class="m-4">Your cart was empty</h3>
         <button class="btn btn-success" routerLink="/">Add More</button>
       </div>
</div>